<%- include("parts/html_head") %> <%- include("parts/navbar") %>

<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                </tr>
            </thead>
            <tbody>
                <% for (let item of rows){ %>
                    <!-- 這裡事後端的row -->
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td><%= item.age %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include("parts/scripts") %>
<script>
    const rows = <%- JSON.stringify(rows) %>;
    //這邊用的 %- 的部分侍衛熱讓他不要跳脫
    console.log(rows);

    //這裡是把資料拉到前端  res.locals.rows這裡後端的row可以被抓到
</script>
<%- include("parts/html_foot") %>
